<!DOCTYPE html>
<html>
<head>
  <%
    var tooltips = {
      'points': 'Points<br><br>When a player reaches 80 points, the game will end at the end of the round.',

      'coins': 'Coins<br><br>What you need to bid on auctions. You can also convert 3 coins into 1 point at the end of the game.',

      'bank': 'Bidding on the bank will immediately do the following:<br>1. Move anyone you have in auction houses to Pu\'er, freeing up whichever spot they were in.<br>2. End your turn, so you may no longer bid.<br><br>The number of coins you get is shown in the table above. The bucket is determined by the sum of all auction item prices at the end of the auction phase.',

      'trader': 'Place an extra trader (not from supply) into Pu\'er. You can move the trader this round in the move phase.',

      'horse': 'Move your horse to the next province. Your buildings and traders can only go as far as your horse has explored.',

      'building': 'Receive a building of your choice. Keep in mind you can only have two of each type of buildings.<br><br>Tea House: If an inspector comes to a region with a tea house, the owner of the tea house is immune. Tea houses are also worth 12 points at the end of the game.<br><br>Trading Post: Trading posts provide income and can connect routes.<br><br>Bridge: A bridge can shorten the distance it takes to travel to a location. You may build bridges at the dashed lines',

      'influence': 'Influence<br><br>When you move a trader to a region, you may kick a player with lower influence back one region. When an inspector goes to a region, he always kicks the player with the higher influence, unless the player has an influence of 4.<br><br>You get bonus points for your influence at the end of the game too (0, 1, 4, 9, 16).',

      'border': 'Border Crossings<br><br>This is the number of border crossings you get during the start of your move phase.<br><br>You get bonus points for your influence at the end of the game too (0, 1, 4, 9, 16).',

      'presents': 'Presents<br><br>Each present is worth 5 points.',

      'placePuer': 'Place a trader in Pu\'er. You may move him when the movement phase starts.',

      'income': 'How much the player earned last round. This is dependent on the position and number of people on the map.'
    }

    var pointsInfluence = {
      '0': 0,
      '1': 1,
      '2': 4,
      '3': 9,
      '4': 16
    }

    var pointsMovement = {
      '2': 0,
      '3': 1,
      '4': 4,
      '5': 9,
      '6': 16
    }
  %>

  <link rel="stylesheet" href="/stylesheets/Game.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/Map.css" type="text/css"/>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/javascripts/Util.js"></script>
  <script type="text/javascript" src="/javascripts/EventEmitter.js"></script>
  <script type="text/javascript" src="/javascripts/Map.js"></script>
  <script type="text/javascript" src="/javascripts/Game.js"></script>
  <script>
    var userId = <%= user.id %>;
    var gameId = '<%= game.id %>';
    var gameUrl = '/game/' + gameId;
    var player = <%- JSON.stringify(player) %>;
    var phase = '<%= game.phase %>';
    <% if (game.phase === 'auction' && player.color == game.playerIds[game.currentPlayerIndex].color) {
      var totalCost = 0;
      for (var i in game.auctions) {
        for (var cost in game.auctions[i]) {
          if (game.auctions[i][cost] == player.color) {
            totalCost = totalCost + parseInt(cost);
          }
        }
      } %>
    var auctionCosts = <%- totalCost %>;
    <% } %>

    <% if (game.playerIds[game.currentPlayerIndex] && player.color == game.playerIds[game.currentPlayerIndex].color) { %>
      alert('It is your turn.');
    <% } %>

    $(function() {

      $(document).tooltip({
          content: function () {
              return $(this).prop('title');
          },
      });

      startWebsocketConnection();

      // this puts the bid button on each auction item
      $('.auctionItem').each(function() {
        (function($item) {
          var itemName = $item.attr('id').split('_')[1];

          $item.find('button').click(function() {
            var value = $(this).attr('value');
            var from = $('input[name="from"]:checked').val();
            var postData = {auctionItem: itemName, bidLevel: value};
            if (from != 'null') {
              postData.from = from;
            }

            if (itemName != 'bank') {

            var newAuctionCosts = auctionCosts + parseInt(value);
              if (newAuctionCosts > player.coins) {
                var negative = player.coins - newAuctionCosts;
                var round = <%- game.round %>;
                var multiplier = (9 - round);
                if (multiplier < 2) {
                  multiplier = 2;
                }

                var promptMessage = 'If you bid on this item, you will owe ' + Math.abs(negative) + ' coins, which results in losing ' + Math.abs(negative * multiplier) + ' points';
                if (!confirm(promptMessage)) {
                  return;
                }
              }

            } else if (player.freeTraders) {
              if (!confirm('You still have traders in your supply. If you choose the bank, you will not be able to use them this turn. Are you sure?')) {
                return;
              }
            }

            $.post(gameUrl + '/bid', postData, function(result) {
              console.log(result);
            }).fail(function(response) {
              alert(response.responseText);
            });
            
          });
        })($(this))
      });

      $('#passAuctionButton').click(function() {
        if (player.freeTraders && !confirm('You still have unused traders, are you sure you want to pass?')) {
          return;
        }
        $.post(gameUrl + '/passAuction', function(result) {
          console.log(result);
        }).fail(function(response) {
          alert(response.responseText);
        });
      });

      $('#auctionPuerButton').click(function() {
        var from = $('input[name="from"]:checked').val();
        var postData = {};
        if (from != 'null') {
          postData.from = from;
        }
        $.post(gameUrl + '/auctionPuer', postData, function(result) {
          console.log(result);
        }).fail(function(response) {
          alert(response.responseText);
        });
      });

      // check the first available
      $('input[name="from"]').first().attr('checked', true);

      $.get(gameUrl + '/info', function(result) {
        var map = new GameMap('map', 'mapCanvas', result);
        map.draw();

        var game = new Game(result, map);
      });
    });

    function startWebsocketConnection() {
      var host = location.origin.replace(/^http/, 'ws')
      var ws = new WebSocket(host);
      ws.onmessage = function (event) {
        if (event.data == 'success') {
          ws.send(JSON.stringify({gameId: gameId}));
        } else {
          location.reload();
        }        
      };
    }
  </script>
  <style type="text/css">
    p {
      margin: 0;
    }

    .auctionPhase div {
      float: left;
    }

    .movePhase div {
      float: right;
    }

    .currentPlayer {
      font-weight: bold;
    }

    .auctionsContainer {
      overflow: hidden;
    }

    .auctionsContainer .auctionItem, #auctionFrom, .auctionsContainer {
      float: left;
      border: 1px solid gray;
      padding: 5px;
      margin: 10px;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <h1 style="margin-top:0">Yunnan <span class='titleSmall'>Logged in as <%= user.email %></span></h1>

    <!-- player information -->
    <div id='playerBar'>
      <% for (var i = 0; i < game.playerIds.length; i++) { %>
        <div class='playerInfo <%=game.playerIds[i].color%>Bg <%= game.currentPlayerIndex == i ? game.playerIds[i].color+'Highlight' : '' %>'>
          <%= game.currentPlayerIndex == i ? '*' : '' %> <%=game.playerIds[i].name%> (<%- game.playerIds[i].color.substr(0, 1) %>)<br>
          <table class='playerInfoTable'>
            <tr>
              <!--
              <td>Color</td>
              <td><%= game.playerIds[i].color[0].toUpperCase() + game.playerIds[i].color.substr(1) %><br></td>
              -->
              <td class='infoIcon'><img src='/images/star_icon.png' title='<%- tooltips['points'] %>'></td>
              <td><%=game.players[game.playerIds[i].color].points%></td>
              <td class='infoIcon'><img src='/images/coins.png' title='<%- tooltips['coins'] %>'></td>
              <td><%=game.players[game.playerIds[i].color].coins%></td>
            </tr>
            <tr>
              <td class='infoIcon'><img src='/images/crown.png' title='<%- tooltips['influence'] %>'></td>
              <td><%=game.players[game.playerIds[i].color].influence%></td>
              <td class='infoIcon'><img src='/images/person.png' class='mapColor-<%=game.playerIds[i].color%>' title='Traders in supply'></td>
              <td><%=game.players[game.playerIds[i].color].freeTraders%>/<%=game.players[game.playerIds[i].color].totalTraders%></td>
            </tr>
            <tr>
              <td class='infoIcon'><img src='/images/boot.png' title='<%- tooltips['border'] %>'></td>
              <td><%=game.players[game.playerIds[i].color].border%></td>
              <td class='infoIcon'><img src='/images/tradingpost.png' class='mapColor-<%=game.playerIds[i].color%>' title='Trading Posts in supply'></td>
              <td><%=game.players[game.playerIds[i].color].buildings.tradingPost%></td>
            </tr>
            <tr>
              <td class='infoIcon'><img src='/images/present.gif' title='<%- tooltips['presents'] %>'></td>
              <td><%=game.players[game.playerIds[i].color].presents%></td>
              <td class='infoIcon'><img src='/images/bridge.png' title='Bridges in supply'></td>
              <td><%=game.players[game.playerIds[i].color].buildings.bridge%></td>
            </tr>
            <tr>
              <td class='infoIcon'><img src='/images/uparrow.png' title='<%- tooltips['income'] %>'></td>
              <td><%=game.players[game.playerIds[i].color].income%></td>
              <td class='infoIcon'><img src='/images/teahouse.png' class='mapColor-<%=game.playerIds[i].color%>' title='Tea Houses in supply'></td>
              <td><%=game.players[game.playerIds[i].color].buildings.teaHouse%></td>
            </tr>
          </table>
        </div>
      <% } %>
    </div>

    <!-- phase -->
    <div>
      <% if (game.round == 1 && game.phase == 'auction') { %>
        <p class='explanation'>The game ends when someone reaches 80 points. You gain points from income of traders and trading posts on the
          map. Points from tea houses and presents do not factor into the 80 points needed to end the game. They are only counted after.</p>

        <p class='explanation'>The first phase is bidding on auctions to gain upgrades. The second phase is moving. The further along your people
          and trading posts are, the more income you get. The third phase is converting income to points and coins.</p>
      <% } %>

      <h2>Phase - <%= game.phase[0].toUpperCase() + game.phase.substr(1) %></h2>
      <% switch(game.phase) {
          case 'auction': %>

          <% if (game.round != 1) { %>
            <p class='explanation'>Turn order was determined by the number of points earned last round.</p>
          <% }%>
          <p class='explanation'>Welcome is the auction phase. You take turns bidding on upgrades. You can be
            kicked out of the 5 and 7 slots if there is a higher bid on the same upgrade. Your kicked out trader
            can be used to bid on other items or place in Pu'er. If you are kicked out after you end your auction
            turn, your turn is no longer ended.</p>
          <div class='explanation'>Bank buckets:
            <table border="1px solid black" cellspacing="0" class='bankBuckets'>
              <% var buckets = [6, 12, 18, 23, 28, 32, 36, 39, 42, 45, 48, 51, 54, 57, 61, 65, 69, 74, 79, 86, 92, 99]; %>
              <tr>
                <td>Bucket</td>
                <% var last = 0;
                  for (var i = 0; i < buckets.length; i++) { %>
                  <td><%- last %>-<%- buckets[i]-1 %></td>
                  <% last=buckets[i] %>
                <% } %>
              </tr>
              <tr>
                <td>High</td>
                <% for (var i = 0; i < buckets.length; i++) { %>
                  <td><%- i + 6 %></td>
                <% } %>
              </tr>
              <tr>
                <td>Low</td>
                <%  for (var i = 0; i < buckets.length; i++) { %>
                  <td><%- Math.floor(i + 5) %></td>
                <% } %>
              </tr>
            </table>
          </div>
            <% break; %>
            <% case 'resolve': %>
            <p class="explanation">We are currently in the phase of resolving auctions. If someone has won the bid on buildings, they
              are currently selecting which building to choose.</p>
            <% break; %>
            <% case 'move': %>
            <p class="explanation">The player's turn order has been reversed from the auction
              phase. In this phase, you may build any free buildings you have won from past auctions. You may also move traders
              around the board depending on how many border crossings you have.</p>
            <p class="explanation">If you move to a region where there is another player's trader, and that player has lower influence than you, then you may kick one of their trader in that region back one region following the road.</p>
            <p class="explanation">At the end of your turn, all your traders must have a connected route to Pu'er, or else they will
              automatically be moved to Pu'er.</p>
            <p class="explanation">At the end of the movement phase, the inspector will move to the richest region and kick a trader of the player with
            the highest influence back to Pu'er. If there is a tie in influence, it is based on the person first to move in the movement phase.</p>
            <p class="explanation">If you have a person where there are presents available, you will take one per person. The highest influence person
              gets the presents. In case of a tie in influence, it is split</p>
            <% break; %>
            <% case 'income': %>
            <p class="explanation">You have earned <%= player.income %> income this round. You may choose how much
            of it you want to convert to points.</p>
            <% break; %>
            <% case 'complete': %>
            <p class="explanation">The game has ended. Here is the breakdown for points:</p>
            <table cellspacing="0" border="1px solid black" cellpadding="2">
              <thead>
                <tr>
                  <th>Color</th><th>Points</th><th>Coins</th><th>Tea Houses</th><th>Presents</th><th>Influence</th><th>Border</th><th>Total</th>
                </tr>
              </thead>
              <tbody>
            <% for (var color in game.players) { 
              var teaHouseCount = 0;
              for (var regionName in game.board) {
                if (game.board[regionName].teaHouse == color) {
                  teaHouseCount++;
                }
              }
              %>
              <tr>
                <td><%- color %></td>

                <td><%- game.players[color].points %></td>

                <td><%- Math.floor(game.players[color].coins / 3) %></td>

                <td><%- (teaHouseCount * 12) %></td>

                <td><%- (game.players[color].presents * 5) %></td>

                <td><%- pointsInfluence[game.players[color].influence] %></td>

                <td><%- pointsMovement[game.players[color].border] %></td>

                <td><%- (game.players[color].points
                          + Math.floor(game.players[color].coins / 3)
                          + (game.players[color].presents * 5)
                          + (teaHouseCount * 12)
                          + pointsInfluence[game.players[color].influence]
                          + pointsMovement[game.players[color].border]) %></td>
                </tr>
            <% } %>
              </tbody>
            </table>
            <% break %>
            <%default:
            break; 
          } %>

    </div>

    <!-- auction information -->
    <% if (game.phase === 'auction') { %>
      <div class="phase phaseAuction auctionStyle">
        <h2>Auction Options</h2>
        <% if (player.color == game.playerIds[game.currentPlayerIndex].color) { %>
        <div id="auctionOtherActions">
          <button class="enterButton" id="auctionPuerButton" title="<%- tooltips['placePuer'] %>">Place trader in Pu'er</button>
          <button class="enterButton" id="passAuctionButton" title="End your auction turn">Pass Auction Phase</button>
        </div>
        <% } %>
        <div class="auctionsContainer">
              <% for (var auctionItem in game.auctions) { %>
                <div class="auctionItem" id="auction_<%= auctionItem %>">
                  <table>
                    <tr>
                      <th class="auctionItemHeader" colspan=2 title="<%- tooltips[auctionItem]%>"><%= auctionItem[0].toUpperCase() + auctionItem.substr(1) %></th>
                    </tr>
                    <tr>
                      <th>Cost</th><th>Bidder</th>
                    </tr>
                    <% for (var j in game.auctions[auctionItem]) { %>
                      <tr>
                        <td<%- (j > 7) ? ' class="highBid"' : '' %>><%= j %><%- (j < 9) ? '*' : '' %></td>
                        <td>
                        <% if (game.auctions[auctionItem][j]) { %>
                          <img src='/images/person.png' class="mapColor-<%- game.auctions[auctionItem][j] %>"> - <%- game.auctions[auctionItem][j].substr(0, 1) %>
                        <% } else { %>
                          <button class="enterButton" value="<%= j %>"<% if (player.color != game.playerIds[game.currentPlayerIndex].color) { %> disabled<% }%>>Bid</button>
                        <% } %>
                      </td>
                    <% } %>
                  </table>
                </div>
              <% } %>

            <div id="auctionFrom">
              <p>Take trader from...</p>
              <% if (player.freeTraders > 0) { %>
                <input type="radio" name="from" value="null"> Supply (<%= player.freeTraders %>)
              <% } %>
              <% for (var i in game.board) {
                  if (i !== 'bridges' && game.board[i].name != 'PU\'ER' && game.board[i].traders[player.color]) { %>
                  <br><input type="radio" name="from" value="<%=game.board[i].name%>"> <%=game.board[i].name%> (<%= game.board[i].traders[player.color] %>)
              <% }
               } %>
            </div>
        </div>
      </div>
    <% } %>

    <!-- auction snapshop -->
    <% if (game.auctionSnapshot && (game.phase == 'resolve' || game.phase == 'move')) { %>
      <div class="phase phaseAuctionSnapshot auctionStyle">
        <button id="auctionSnapshotButton">Show Auction Results</button>
        <div class='pastResults'>
          <div class="auctionsContainer auctionSnapshot">
                <% for (var auctionItem in game.auctionSnapshot) { %>
                <div class="auctionItem" id="auction_<%= auctionItem %>">
                  <table>
                    <tr>
                      <th class="auctionItemHeader" colspan=2 title="<%- tooltips[auctionItem]%>"><%= auctionItem[0].toUpperCase() + auctionItem.substr(1) %></th>
                    </tr>
                    <tr>
                      <th>Cost</th><th>Bidder</th>
                    </tr>
                    <% for (var j in game.auctionSnapshot[auctionItem]) { %>
                      <tr>
                        <td<%- (j > 7) ? ' class="highBid"' : '' %>><%= j %><%- (j < 9) ? '*' : '' %></td>
                        <td>
                        <% if (game.auctionSnapshot[auctionItem][j]) { %>
                          <img src='/images/person.png' class="mapColor-<%- game.auctionSnapshot[auctionItem][j] %>">
                        <% } %>
                      </td>
                    <% } %>
                  </table>
                </div>
              <% } %>
          </div>
        </div>
      </div>
    <% } %>

    <!-- resolve which building to get -->
    <% if (game.phase === 'resolve' && player.color == game.playerIds[game.currentPlayerIndex].color) { %>
    <div class="phase phaseResolve">
      <h3>Choose your building for auction</h3>
      <div class="resolveAuctionButton mapHoverable" id="resolveTeaHouse" data-src="teaHouse"><img src='/images/teahouse.png'> Tea House</div>
      <div class="resolveAuctionButton mapHoverable" id="resolveTradingPost" data-src="tradingPost"><img src='/images/tradingpost.png'> Trading Post</div>
      <div class="resolveAuctionButton mapHoverable" id="resolveBridge" data-src="bridge"><img src='/images/bridge.png'> Bridge</div>
    </div>
    <% } %>

    <!-- move phase options -->
    <% if (game.phase === 'move' && player.color == game.playerIds[game.currentPlayerIndex].color) { %>
    <div class="phase phaseMove">
      <h2>Options</h2>
      <% if (player.freeMoves) { %>You have <%= player.freeMoves %> moves left. <button id="mapMoveButton">Move Trader</button> <% } %><button id="mapMoveEndButton">End Turn</button>
      <div id="moveBuildOptions">
        <% if (player.buildings.teaHouse) { %><div class="buildTeaHouse moveBuild mapHoverable" data-src="teaHouse"><img src='/images/teahouse.png'> Build Tea House</div><% } %>
        <% if (player.buildings.tradingPost) { %><div class="buildTradingPost moveBuild mapHoverable" data-src="tradingPost"><img src='/images/tradingpost.png'> Build Trading Post</div><% } %>
        <% if (player.buildings.bridge) { %><div class="buildBridge moveBuild mapHoverable" data-src="bridge">- Build Bridge</div><% } %>
      </div>
    </div>
    <% } %>

    <% if (game.phase === 'income' && player.color == game.playerIds[game.currentPlayerIndex].color) { %>
    <div class="phase phaseIncome">
      Income: <%= player.income %><br>
      Points: <input id="incomePoints" type="points" min="0" step="1"><br>
      Coins: <input id="incomeCoins" type="coins" min="0" step="1"><br>
      <button>Submit</button>
    </div>
    <% } %>

    <!-- map information -->
    <div>
      <div id="map">
        <canvas id="mapCanvas"></canvas>
        <div id="mapInstructions"></div>
        <div id="mapBridges"></div>
      </div>
    </div>

    <!-- history -->
    <div>
      <h2>Game Logs (most recent at top)</h2>
      <% for (var i = game.history.length-1; i > -1; i--) { %>
        <p><%= game.history[i] %>
      <% } %>
    </div>
  </div>
</body>
</html>